<%- include("./partials/header1") %>
<link rel="stylesheet" href="/stylesheets/Navbar.css">
<link rel="stylesheet" href="/stylesheets/About.css">
<link rel="stylesheet" href="/stylesheets/Footer.css">
<%- include("./partials/header1b") %>
<div class="jumbotron wh">
	<div class="container">
		<%- include("./partials/navbar") %>
		<div class="container text-center">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<h2 class="h1">
				Sergio Moncada
			</h2>
			
		</div>
	</div>
</div>

<div class="container txt6">
	<div class="text-center ss">
			<i class="fas fa-quote-right"></i>
			<i>
			<div>
				Y cuando, el nuevo canto,
			</div>
			<div>
				En Gloria Cantare,
			</div>
			<div>
				Sera la antigua Historia,
			</div>
			<div>
				Que en Vida Tanto Ame.
			</div>
			</i>
		
		<i class="fas fa-quote-right"></i>
	</div>
	<p class="text-justify abt1">
		This is about, learning nodejs - express - ejs - and some backends utilities. 
	</p>
	<p class="text-justify abt2">
		I´m in febrery 2023, this is my second learning year of wed development, With 
		My Lord's Help, I will continue going ahead ...... !!!!!!!
	</p>
	
</div>
<%- include("./partials/footer") %>